/*body,html{
  margin:0;
  padding: 0;
  width:100%;
  height:100%;
}*/

/*nav{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;
}
nav .logo{
  float: left;
}
nav .logo img{
  height:80px;
  transition: .5s

}
nav ul{
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li{
  list-style: none;
}
nav ul li a{
  line-height: 80px;
  color: #262626;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
}*/


.cover{
background-image: url('images/shutterstock_612151829.webp') ;

  height:800px;
background-repeat: no-repeat;
 /*background-size: 1535px 1500px;*/
 background-size: cover;
 font-family: 'Montserrat', sans-serif;

 /*text-align: center;*/
}
.container-2{
  width:100%;
  position: absolute;
  top:23%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}
.container-2 h1{
  top:70%;
  text-transform: uppercase;
  font-size: 80px;
  margin:20px;
  letter-spacing: 10px;
  color: #543864;
}
.timer{
  width:100%;
  position: absolute;
  top:300%;
  left:48%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}
.container-2 h2{
  margin:0;
  font-size:50px;
  font-weight: 500;
  font-style:italic;
}
.count{
  margin:40px 0;
}
.countd{
  display: inline-block;
  width: 100px;
  height:100px;
  border: 2px solid;
  margin:0 30px;
  font-size: 12px;
  border-radius: 49%;
  overflow: hidden;
}
.countd span{
  display: block;
  font-size: 26px;
  margin-top:14px;
}
h3{
    color: #543864;
}
@media(max-width:1000px){
  .cover{
    height:800px;
 }
.container-2{
  top:30%;
}
.container-2 h1{
  font-size:55px;
}
}
