
header{
  position: absolute;
  top:0;
  left:0;
  padding:0 100px;
  /*background: #262626;*/
  width:100%;
  box-sizing: border-box;
}

/*nav{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;*/
}
header.logo{
  float: left;
  margin:16px 36px;
  position: fixed;
}
header nav{
  float:right;

}

/*nav .logo img{
  height:80px;
  transition: .5s

}*/
header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}

nav.black ul{
  background: #000;
}
header nav ul li{
  list-style: none;
}
header nav ul li a{
  height: 40px;
  line-height: 50px;
  color: #262626;
  padding: 0px 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  display: block;
}
header nav ul li a.active,
header nav ul li a:hover
{
  color:#fff;
  background:#f00;
}
.menu-icon{
  color:#fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
@media(max-width:1100px){
  header{
    padding: 0 20px;
  }
  .menu-icon{
    display: block;
  }
 header nav{
    /*display: none;*/
    position: absolute;
    width:100%;
    height:cal(100vh-50px);
    background: #333;
    left:-100%;
    transition: 0.5s;
  }
  header nav.active{
    left:0;
  nav.black ul{
    background:#000;
  }
  header nav ul{
    display:block;
    text-align: center;
  }
  header nav ul li a{
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
}
