body{

  background-color: #333;
}

/*.toggler-items{
height: 100vh;
width: 100%;
background-color: #000000;
padding-top: 4vh;
box-sizing: border-box;
overflow-y: auto;
}*/
.heading{
color: #cbcbcb;
font-family: Haarlem;
font-size: 5em;
letter-spacing: 10px;
padding-top: 20px;
margin-left: 5vh;
}
.back-btn{
float: right;
margin-right: 5vh;
color: white;
padding-top: 20px;
font-size: 3em;
transition: all 0.5s ease-in-out;
}
nav{
  position: absolute;
  width:100%;
  height:100%;
  top: 100px;
  left:0;
  transition: 0.5s;


}

nav ul{
  list-style: none;
  margin:0;
  padding: 0;
  display:block;
  text-align: center;

}
nav ul li{
  list-style: none;
}
nav ul li a{
  line-height: 80px;
  color: #fff;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
nav ul li a:hover{
  color:#151515;
  background: #E2472F;
}
nav ul li a.active{
  background: #E2472F;
  color: #fff;
  border-radius: 6px;
}
#footer{
  padding:100% 15% 7%;
  text-align:center;
  color: white;
}
.to{
  margin: 20px 10px;
}
