nav{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100px;
  padding: 5px 80px;
  box-sizing: border-box;
  transition: 0.3s;
  z-index:1;
}
nav.black-1{
  background: rgba(0,0,0,0.8);
  height:100px;
  padding: 10px 100px;
}
nav .logo{
  padding: 22px 20px;
  height: 80px;
  float: left;
  transition: 0.3s;
}
nav.black-1 .logo{
  color:#fff;
}
nav.black-1 .menu-icon{
  color: #fff;
}
nav ul{
  list-style: none;
  float: right;
  margin:0;
  padding: 0;
  display: flex;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  line-height: 80px;
  color: #151515;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}
nav ul li a:hover{
  color:#fff;
  background: #E2472F;
}
nav.black-1 ul li a{
  color: #fff;
}
nav ul li a:focus{
  outline:none;
}
nav ul li a.active{
  background: #E2472F;
  color: #fff;
  border-radius: 6px;
}
.menu-icon{
  color: #000;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
@media(max-width:1100px){
  nav ul{
    padding: 0 20px;
    display: none
  }
  .menu-icon{
    display: block;
    color:#000;
    padding-top: 10px;
  }

  /*nav ul  {
    position: absolute;
    width: 100%;
    height:calc(100vh-50px);
    background: #333;
    top:100px;
    left:-100%;
    text-decoration-color:#fff;
  }
  nav ul.open{
    left:0;
  }
nav ul li a{
  border-bottom: 1px
solid rgba(0,0,0,0.2);

}
